@import "tailwindcss";

a {
  text-decoration: none !important;
}

/* ✅ Smooth text animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease forwards;
}

.animate-fadeUpDelay {
  animation: fadeUp 1.2s ease forwards;
}




/* Required for 3D flip */
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

@keyframes fadeLuxury {
  0% {
    opacity: 0;
    transform: translateY(30px);
    letter-spacing: 0.5em;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    letter-spacing: 0.2em;
  }
}